<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/admin.css' )}}">
        <link rel="stylesheet" href="/FYP_Abi/static/css/vendor.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <ul class="menu">
                
                <div class="admin">
                    <img src="{{ url_for('static', filename = 'images/INSL_IEEE.jpg' )}}" width="90px"  alt="" style="float:left; border-radius: 50%;">
                    <a href="{{ url_for('vendor_account')}}" id="account-link">
                        <span style="padding: 30px 0px 0px 10px; font-size: 20px;">ADMIN</span>
                    </a>
                </div>

                <li>
                    <div class="menuList">
                        <img src="{{ url_for('static', filename = 'images/dashboard.png' )}}" alt="dashboard" width="30px" height="35px">
                        <a href="{{ url_for('admin_page') }}">HOME</a>
                    </div>
                </li>
                
                <li>
                    <div class="menuList">
                        <img src="{{ url_for('static', filename = 'images/vendor.png' )}}" alt="dashboard" width="30px" height="38px">
                        <a href="{{ url_for('admin_vendor_page') }}">REQUESTS</a>
                    </div>
                </li>
                <li>
                    <div class="menuList">
                        <img src="{{ url_for('static', filename = 'images/staff.png' )}}" alt="dashboard" width="30px" height="35px">
                        <a href="{{ url_for('admin_customer_page')}}">USERS</a>
                    </div>
                </li>
            </ul>

            <div class="content">
                <img src="{{ url_for('static', filename = 'images/dashboard.png' )}}" alt="dashboard" width="30px" height="35px">
                <div class="header1">
                    <h1>Admin- dashboard</h1>
                    <span style="float: right; margin: 20px 0 0 130vh;">{{ date  }}</span>
                </div>
                <hr>

                <div class="flex-content">
                    <form action="/search" method="get">
                        <input type="text" id="search" name="search" placeholder="search for vendors">
                    </form>
                    <img src="{{ url_for('static', filename = 'images/filter.png' )}}" alt="dashboard" id="filter">
                    <div class="notification-holder">
                        <img src="{{ url_for('static', filename = 'images/faq.png' )}}" alt="dashboard" class="noticications">
                        <img src="{{ url_for('static', filename = 'images/message.png' )}}" alt="dashboard" class="noticications">
                        <img src="{{ url_for('static', filename = 'images/bell.png' )}}" alt="dashboard" class="noticications">
                    </div>
                    
                </div>
                
                <div class="delivery-earning">
                    <div class="upcoming">
                        <h2>Vendor account registration request</h2>
                          {% for post in rv %}
                                  <h4>User Name : {{post.Vendor_name}}</h4>
                                  <p>User Code :{{post.Vendor_Code}}</p>
                                  <p>User phone number{{post.Vendor_phoneNo}}</p>
                                  <p>User Address{{post.Vendor_Address}}</p>
                                  <p>User Email : {{post.Vendor_email}}</p>
                                  <form method="POST" action="/check_data">
                                    <button type="submit" id="my-button" name="my-button" value="{{post.Vendor_name}}">CHECK</button>
                                </form>
                          {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>a